### Emacs ###

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
custom.el
tramp
.\#*
/.cache

# history (ido, auto-complete)
*.last
*.dat

# Org-mode
.org-id-locations
org-persist/
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell
/eshell/history
/eshell/lastdir

# elpa packages
/elpa

# elpy packages
/elpy

# snippets
/snippets

# racket packages
/racket-mode

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# LSP
.lsp-*

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# back up files
/backup/
amx-items
smex-items
cider-history

# url
url/

# temporary
/transient
/workspace

# fsharp
FsAutoComplete/

# mac
.DS_Store

.dap-breakpoints
elpa/
eshell/
recentf

eln-cache

projects
*.eld

tree-sitter
.aider*
